{% extends 'base.html.twig' %}

{% block body %}
    <div id="results">
        <h2>Suma recorrido: </h2>
        <label id="total_route"></label>
        <h2>Punto cardinal más frecuente:</h2>
        <h3>Dirección:</h3><label id="frequent_cardinal_name"></label>
        <h3>Repeticiones:</h3><label id="frequent_cardinal_times"></label>
        <div id="direction_route_chart"></div>
    </div>
    <button id="execute_nuptic">Execute NUPTIC-42!</button>
{% endblock %}

{% block stylesheets %}
<style></style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">

        $(document).ready(function() {
            
            function getRandom(min, max) {
                return Math.floor(Math.random() * (max - min + 1)) + min;
            }
            
            function getUniqueId() {
                var current_date = Date.now();
                return 'Nuptic_' + current_date;
            }
            
            function getDirection() {
                var directions = ['Norte', 'Sur', 'Este', 'Oeste'];

                return directions[Math.floor(Math.random() * directions.length)];
            }

            function showResults(simulator_id) {
                // Get total route & frequent cardinal results
                $.get({
                    url: '{{ path('orval.results') }}',
                    data: {'simulator_id': simulator_id},
                    success: function (data) {
                        $('#total_route').append(data.total_route);
                        $('#frequent_cardinal_name').append(data.cardinal_used.direction);
                        $('#frequent_cardinal_times').append(data.cardinal_used.used_cardinal);
                        console.log(data);
                    },
                    dataType: 'json'
                });

                // Get data & paint direction & its total routes
                $.get({
                    url: '{{ path('orval.chart') }}',
                    data: {'simulator_id': simulator_id},
                    success: function (data) {
                        google.charts.load('current', {'packages':['corechart']});
                        google.charts.setOnLoadCallback(function () { drawChart(data); });

                        function drawChart(data) {

                            var chart_data = google.visualization.arrayToDataTable([
                                ['Dirección', 'Recorrido'],
                                [data[0].direction, parseInt(data[0].total_route)],
                                [data[1].direction, parseInt(data[1].total_route)],
                                [data[2].direction, parseInt(data[2].total_route)],
                                [data[3].direction, parseInt(data[3].total_route)]
                            ]);

                            var options = {
                                title: 'Recorrido hecho por direcciones'
                            };

                            var chart = new google.visualization.PieChart(document.getElementById('direction_route_chart'));
                            chart.draw(chart_data, options);
                        }

//                        console.log(data);
                    },
                    dataType: 'json'
                });
            }
            
            $('#execute_nuptic').click(function () {
                var index           = 1;
                var simulator_id    = getUniqueId();
                var storeInterval   = setInterval(function(){

                    var data = {
                        'id_simulador': simulator_id,
                        'num': index,
                        'direccion': getDirection(),
                        'recorrido': getRandom(10, 20)
                    };

                    $.get({
                        url: '{{ path('orval') }}',
                        data: data,
                        success: function (data) {
                            console.log(data);
                        },
                        dataType: 'json'
                    });

                    if(index == 60) {
                        clearInterval(storeInterval);
                        showResults(simulator_id);
                    } else {
                        index ++;
                    }

                }, 1000);

            });

        });

    </script>
{% endblock %}